input {
  margin: 0;
}

.beer-list-container {
  background-color: #24397994;
  padding: 15px;
  margin: auto;
}


.single-beer-information {
  margin-bottom: 20px;
}

.single-beer-properties-list{
  padding:0;
}

.single-beer-properties-list li {
  float: left;
  width: 25%;
  list-style: none;
}

.poured-pints {
  text-align: right;
  width:100%;
  margin-right:0;
}

.float-right, .float-right input {
  text-align: right;
  width:35%;
}

.float-left {
  text-align: left;
  width:65%;
}

.small-wide {
  width:33px;
}

.single-beer {
  border: 3px solid #ff791a;
  margin: 10px;
}

.legible-text {
  background-color: #ff791a;
  color:white;
}

.single-beer-information {
  margin: 20px;
}

@media only screen and (max-width: 992px) {
  .single-beer-properties-list li {
    width: 100%;
    text-align: left;
  }
  .poured-pints {
    text-align: right !important;
  }
}
