<div class="container">
  <h1>{{title}}</h1>
  <div class="beer-list-container">
    <div class="single-beer" *ngFor="let beer of beers">
      <div class="single-beer-information">

        <div class="row beer-header-info">
          <input class="single-beer-name  float-left" type="text" [(ngModel)]="beer.name">
          <label class="float-right">
            $<input type="text" [(ngModel)]="beer.price">
          </label>
        </div>

        <div class="row single-beer-properties-list-container">
          <ul class="single-beer-properties-list col-12">
            <li><input [(ngModel)]="beer.brand"></li>
            <li><input [(ngModel)]="beer.type"></li>
            <li><input class="small-wide" [(ngModel)]="beer.alcContent"><span class="legible-text">% ALC</span></li>
            <li class="float-right poured-pints"><span class="legible-text">{{beer.pints}} pints left</span></li>
          </ul>
          <app-pour-a-pint [pintsPoured]="beer.pints" class="poured-pints"></app-pour-a-pint>
        </div>

      </div>

    </div>
  </div>

  <app-add-beer [childBeer]="masterBeersList" (clickSender)="addTap($event)"></app-add-beer>
</div>
